DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/inrcliq?schema=public"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_CLARITY_PROJECT_ID="your-clarity-project-id"

# Email (SendGrid)
EMAIL_PROVIDER=sendgrid
EMAIL_FROM=support@insider-hub.com
SENDGRID_API_KEY=your-sendgrid-api-key
